[Unit]
Description=Dispatcher (Backend and Frontend)
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/src/dispatcher
Environment="PREFIX=/opt/dispatcher"
Environment="PATH=/opt/dispatcher/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/src/dispatcher/startup.sh
ExecStop=/src/dispatcher/shutdown.sh
TimeoutStartSec=600
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
