@import 'tailwindcss';

/* Fonts */
@import './fonts.css';

/* Plugins */
@import './plugins.css';

/* Globals */
@import './theme.css';
@import './globals.css';
@import './dark-mode.css';
@import './push-drawer.css';

/* Components */
@import '../components/Navbar/navbar.css';
@import '../components/FilterableList/filterable-list.css';
@import '../components/ServiceAreaTable/service-area-table.css';
@import '../components/DetailControlView/multipleasset.css';

/* Page Styles */
/* @import '../pages/Stack/stack.css'; */

/* Data picker Styling */
@import './datepicker.css';
