@theme {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;

  --breakpoint-md: 48rem;

  --color-primary-blue: #0369a1;
  --color-sky-blue: #e9f1f5;
  --color-gray-500: #6d6d6d;
  --color-gray-100: #f5f5f5;
  --color-charts-pass: #94d8a8;
  --color-charts-fail: #ff1d41;
  --color-charts-trend: #fd9a7e;
  --color-pass: var(--color-charts-pass);
  --color-fail: var(--color-charts-fail);
}
