.filter-select,
.filter-date {
  @apply w-full h-8 px-2.5 border border-gray-300 rounded text-sm;
}

.servicearea-table {
  @apply bg-white w-full border-collapse;
}

.servicearea-table th {
  @apply text-left px-4 py-3 font-semibold border-b border-gray-300;
}

.servicearea-table td {
  @apply px-4 py-4 border-b border-gray-300;
}

.servicearea-table tr {
  @apply last:[&>td]:border-b-0;
}
