.table-filter-dropdown-item {
  @apply px-3 py-2 cursor-pointer border-b border-gray-200 whitespace-nowrap hover:bg-gray-100 last:border-b-0;
}

.filterable-list-table {
  @apply w-full border-collapse bg-white overflow-visible;

  /* table-layout: fixed;  Ensures consistent column widths */
  /* width: 100%; Keeps the table width fixed */
}

.filterable-list-table thead,
tbody,
tr,
th,
td {
  @apply overflow-visible;
}

.filterable-list-table th {
  @apply relative text-left px-4 py-3 font-semibold border-b border-gray-300 whitespace-nowrap;
}

.filterable-list-table td {
  @apply px-4 py-4 border-b border-gray-300;

  /* white-space: normal; Allow wrapping */
  /* word-wrap: break-word; Break long words */
  /* overflow: visible; Ensure content is shown */
}

.filterable-list-table tbody {
  td {
    @apply text-[14px];
  }

  tr {
    @apply last:[&>td]:border-b-0 hover:bg-sky-blue hover:text-blue-900;
  }
}

.filterable-list-table tbody tr td:nth-child(4) {
  width: 270px;
  word-break: break-word;
}

/* .status-label-width {
  @apply flex items-center;
  width: 110px;
  height: 100%;
}
.chevron-button-cell {
  @apply px-4 py-4 border-b border-gray-300;
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
} */
